body
{
  margin: 0;
  /* width: 100%; */
  font-family: 'Montserrat', sans-serif; 
  color: #FFFFFF;
}
.header1
{
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 78px;

	color: #FFFFFF;

	margin-top: 150px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.tagline
{
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

	color: #FFFFFF;

	margin-top: 20px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.headerbutton
{
	position: relative;
	width: 190px;
	height: 58px;

	margin-top: 30px;
	background: #532C7D;
	border-radius: 20px;

	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	border: #F7F7F7;
	color: #FFFFFF;
}

.section2
{
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-align: center;

	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.section2header
{
	margin-top: 25px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #454444;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.section2content
{
	margin-top: 15px; 
	margin-bottom: 25px;
	font-style: normal;
	font-weight:500; 
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #454444;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.section3content
{
	padding-top: 15px;
	padding-bottom: 50px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #454444;
}
.section2-flex{
	display: flex; 
	justify-content: center;
	margin: auto; 
	width: 80%
}
.flex-content{
	text-align: center;
	padding-top: 25px;
	margin: 40px 60px; 
}
.section3header
{
	padding-top: 120px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.footerheader
{
	padding-top: 175px;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #454444;
}

.footercontent
{
	padding-top: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #532C7D;
}
.subsfrm
{
	width: 370px;
	height: 63px;
	top: 2463px;
	background: #F7F7F7;
	border-radius: 10px;

	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;	
	padding-left: 25px;

	margin-top: 25px;
	margin-right: 40px;
}
#input1{
	width: 282px;
}
.lower-banner{
	background: url(../images/footer_image.jpg);
	height: 523px
}
.show{
	display: none;
}
#icons{
	/* position: relative;
	top: 30px;
	left: 60px; */
	opacity: 0.7;
	width: 400px;
	margin-top: 100px;
}
@media only screen and (max-width: 800px) {
	.hidden{
		display: none;
	}
	.footerheader{
		padding-top: 80px;
	}
	.underline{
		text-decoration: underline black 1px;
	}
	.show{
		display: inline-block;
	}
	.footer-form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#mobile-image{
		width: 250px;
		margin: 20px 75px;
	}
	.flex-this{
		display: flex;
		justify-content: space-between;
	}
	.subsfrm{
		border: none;
		height: 43px;
		text-align: center;
		font-size: 15px;
	   font-weight: 400;
	}
	.section2-flex{
		flex-direction: column;
	}
	#input1{
		margin-left: 30px;
		width: 170px;
		margin-top: 30px;
	}
	#input2{
		width: 200px;
		margin: 15px 0;
	}
	.section3header{
		padding-top: 40px;
		font-size: 18px;
	}
	.headerbutton{
		height: 40px;
		width: 120px;
		font-weight: 500;
		font-size: 20px;
	}
	.lower-banner{
		background: url(../images/pexels-leah-kelley-3935702\ 5.png);
		height: 500px;
		padding: 10px;
	}
	.section2 ,
	.footerheader
{
	font-size: 20px;
}
.section3content,
.headerbutton,
.section2content{
	text-align: center;
	font-size: 15px;
}
.footercontent,
.tagline
{
	font-size: 20px;
}
.section2header{
	font-size: 19;
}
.header1{
	font-size: 44px;
}
#signup{
	border-radius: 10px;
}
.flex-content{
	margin: 10px; 
}
 }